<!DOCTYPE html>
<html>
<head>
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Inventario de Productos</h1>

    <a href="{{ url_for('index') }}">Inicio</a>
    <br><br>
    <a href="{{ url_for('agregar') }}">Agregar Nuevo Producto</a>

    <br><br>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>

        {% for producto in productos %}
        <tr>
            <td>{{ producto[0] }}</td>
            <td>{{ producto[1] }}</td>
            <td>{{ producto[2] }}</td>
            <td>{{ producto[3] }}</td>
            <td>
                <a href="{{ url_for('editar', id=producto[0]) }}">Editar</a>
                |
                <a href="{{ url_for('eliminar', id=producto[0]) }}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}

    </table>

</body>
</html>
